@model Signatory.Models.UserViewModel

@{
    ViewBag.Title = @Model.User.login;
}

<div class="row">
    <div class="span3">
        <ul class="thumbnails">
            <li>
                <div class="thumbnail">
                    <img src="//www.gravatar.com/avatar/@Model.User.gravatar_id?s=200"/>
                    <h3 class="text-center"><a href="@Model.User.html_url">@Model.User.login</a></h3>
                    <p class="text-center"><i class="icon-map-marker"></i> @Model.User.location</p>
                    <p class="text-center">
                        <i class="icon-pencil"></i> <a href="@Model.User.blog">Blog</a> &bull; 
                        <i class="icon-envelope"></i> <a href="mailto:@Model.User.email">Email</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="span9">
        <h2 style="margin-bottom: -5px;">@Model.User.name's Repositories</h2>
        <small class="muted">@Model.User.public_repos repositories as of @DateTime.Now.ToShortTimeString()</small>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var repo in Model.Repositories)
                {
                    <tr>
                        <td><a href="@repo.html_url">@repo.name</a></td>
                        <td>@repo.description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






