@model UserViewModel

@{
    ViewBag.Title = @Model.User.Username;
}

<div class="row">
    <div class="span3">
        <ul class="thumbnails">
            <li>
                <div>
                    <img src="//www.gravatar.com/avatar/@Model.User.GravatarId?s=200"/>
                    <hr />
                    <h3><a href="@Model.User.GitHubUrl">@Model.User.Username</a></h3>
                    
                    <ul class="unstyled">
                        @if (!string.IsNullOrWhiteSpace(Model.User.Location))
                        {
                            <li><i class="icon-map-marker"></i> @Model.User.Location</li>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.User.BlogUrl))
                        {
                            <li><i class="icon-comment"></i> <a href="@Model.User.BlogUrl">Blog</a></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.User.EmailAddress))
                        {
                            <li><i class="icon-envelope"></i> <a href="mailto:@Model.User.EmailAddress">Email</a></li>
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="span9">
        <div class="page-header">
            <div class="btn-group pull-right">
                <a href="/home/signout/" class="btn"><i class="icon-user"></i> Sign out</a>
            </div>

            <h2 style="margin-bottom: -5px;">@Model.User.Name's Repositories</h2>
            <small class="muted">@Model.User.RepositoryCount repositories as of @DateTime.Now.ToShortTimeString()</small>
        </div>

        
        <table class="table table-striped table-hover" style="cursor: pointer;">
            <thead>
                <tr>
                    <th>Repositories</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var repo in Model.Repositories)
                {
                    <tr data-repo="/@Model.User.Username/@repo.Name/">
                        <td><a href="@repo.GitHubUrl">@repo.Name</a></td>
                        <td>@repo.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
<script>
    $(function(){
        $('tr').click(function(){
            window.location = $(this).attr('data-repo');
        });
    });
</script>    
}






