@using System.Web.Optimization
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Signatory &#946;eta &bull; @ViewBag.Title</title>
    
    @Styles.Render("~/css")
</head>
<body>

    @Html.Action("Navigation", "Home")

    <div class="container">
        <noscript>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Please enable JavaScript in your browser!
            </div>
        </noscript>

        <div class="row">
            @if (IsSectionDefined("sidebar"))
            {
                <div class="span2">
                    @RenderSection("sidebar", required: false)
                </div>
            }

            <div id="content" @(IsSectionDefined("sidebar") ? Html.Raw("class=span10") : Html.Raw("class=span12"))>
                @if (IsSectionDefined("featured"))
                {
                    <div>
                        <div class="hero-unit">
                            @RenderSection("featured", required: false)
                        </div>
                    </div>
                }
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
        
        <div class="row" style="position: fixed; bottom: 0; background-color: white; box-shadow: 0 0 10px 10px white;">
			<div class="span12">
			    <footer id="footer" class="text-center">
			        <i class="icon-twitter"></i> <a href="http://twitter.com/nikmd23/">nikmd23</a> &bull; 
			        <i class="icon-github"></i> <a href="http://github.com/nikmd23/signatory/">Fork Me</a> &bull; 
			        <i class="icon-rss"></i> <a href="http://nikcodes.com/">Nik Molnar</a>
			    </footer>
			</div>
        </div>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
</body>
</html>
