@model System.Security.Principal.IIdentity

@helper NavLink(string text, string url)
{
    if (string.Compare(ViewContext.HttpContext.Request.Url.LocalPath, url, false) == 0){
        <li class="active"><a href="@url">@text</a></li>
    }
    else{
        <li><a href="@url">@text</a></li>
    }
}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Signatory &#946;</a>
            <ul class="nav">
                @NavLink("Home", "/")
                @NavLink("Resources", "/Home/Resources/")
            </ul>
            <ul class="nav pull-right">
                <li>
                    @if (Model.IsAuthenticated)
                    {
                        @NavLink(Model.Name, "/" + Model.Name + "/")
                    }
                    else
                    {
                        <form class="navbar-search" action="/authentication/redirect/github/" style="margin: 0">
                            <button type="submit" class="btn btn-success"><i class="icon-user"></i> Sign in</button>
                        </form>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>








