@model RepoViewModel

@{
    ViewBag.Title = @Model.User.Username + "/" + @Model.Repository.Name;
}

<div class="row">
    <div class="span3">
        <ul class="thumbnails">
            <li>
                <div>
                    <img src="//www.gravatar.com/avatar/@Model.User.GravatarId?s=200"/>
                    <hr />
                    <h3>Collaborators</h3>

                    @foreach(var collaborator in Model.Collaborators){
                        <i class="icon-user"></i> @collaborator.Username<br/>
                    }
                </div>
            </li>
        </ul>
    </div>
    <div class="span9">
        <div class="page-header">
            <div class="btn-group  pull-right">
                    <a href="/@Model.User.Username/@Model.Repository.Name/sign" class="btn"><i class="icon-pencil"></i> Sign</a>
                @if (@Model.CurrentUserIsCollaborator) { 
                    <a href="/@Model.User.Username/@Model.Repository.Name/settings" class="btn"><i class="icon-cog"></i> Settings</a>
                }
            </div>
            <h2 style="margin-bottom: -5px;">@Model.Repository.Name CLA Signers</h2>
            <small class="muted">
                @Model.Signers.Count() CLA signers as of @DateTime.Now.ToShortTimeString()
            </small>
        </div>
        
        @{
            var settings = TempData["settingsChanged"] as SettingsChangedNotification;
            var userSigned = TempData["userSigned"] as UserSignedNotification;
        }
        @if (settings != null)
        {
            <div class="alert alert-@settings.Status">
                @*TODO: Add close button*@
                <p>
                    <strong>@settings.RepoOwner/@settings.RepoName</strong> has been updated,
                    @if (settings.RequireCla){
                        <text>a contributor license agreement is required.</text>
                    }
                    else{
                        <text>a contributor license agreement is not required.</text>
                    }
                </p>
            </div>
        }
        
        @if (userSigned != null){
            <div class="alert alert-@userSigned.Status">
                @*TODO: Add close button*@
                <p>
                    <strong>@userSigned.Username</strong> has successfully signed the contributor license agreement for <strong>@Model.User.Username/@Model.Repository.Name</strong>.
                </p>
            </div>
        }

        <table class="table table-striped table-hover" style="cursor: pointer;">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Date Signed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var signer in Model.Signers)
                {
                    <tr>
                        <td>@signer.Username</td>
                        <td>@signer.FullName</td>
                        <td>@signer.DateSigned.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>