@model SignViewModel

@{
    ViewBag.Title = "Sign";
}

<form method="post" id="cla">
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend>
                    <span class="muted">@Model.Username/@Model.Repo</span><br />
                    Contributor License Agreement:
                </legend>
        
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet ultricies arcu. Sed eleifend vestibulum condimentum. Duis ac lacus sed lorem facilisis suscipit nec quis nisi. Curabitur et facilisis nibh. Sed malesuada urna eget nulla semper vehicula. Suspendisse potenti. Donec eu erat tincidunt mi convallis vestibulum eu a sapien.</p>
                <p>Vivamus elit lacus, rutrum eget sapien tristique, ullamcorper fermentum erat. Ut gravida arcu sed purus dictum consequat. Mauris turpis eros, lacinia in tristique a, pulvinar sit amet magna. Morbi tincidunt nibh odio, elementum posuere nisi egestas sed. Cras eget enim hendrerit, mattis sem vitae, ornare diam. Maecenas ornare blandit est et euismod. In condimentum arcu a sagittis fringilla.</p>
                <p>In condimentum, dui et fermentum fringilla, nisl mauris consequat eros, nec cursus tortor arcu condimentum nisl. Vestibulum mattis quam sit amet sagittis elementum. Donec venenatis, purus in luctus malesuada, est justo blandit nisl, vel varius nulla augue et risus. Donec at fringilla arcu. Sed rhoncus convallis sem, nec lacinia ipsum dictum ac. Vestibulum in odio augue. Donec id erat vitae justo mattis semper. Integer vel elit consequat, facilisis quam sit amet, dapibus sapien. Fusce in nibh lorem. Nullam posuere vehicula sem. Phasellus lorem tortor, tempor id hendrerit sed, venenatis sed metus. Vestibulum in ipsum non tellus pellentesque porta. Donec viverra nunc tempor vulputate ultricies. Cras eu laoreet mauris.</p>
                <p>Nunc scelerisque, erat id aliquam laoreet, enim massa suscipit libero, at auctor dui diam sed mauris. Aenean quis ultrices libero, id gravida nunc. Ut varius rhoncus lorem. In eleifend neque at ante tempus, eu condimentum elit fringilla. Nulla dictum dictum ipsum, non pulvinar dui semper et. In porta magna ac pulvinar sagittis. In rutrum mauris nisl, in dictum risus viverra eget. Suspendisse malesuada velit pharetra, mattis dui sed, dignissim justo. Integer hendrerit cursus urna, pellentesque faucibus dui molestie ut. Praesent ac posuere est.</p>
                <p>Proin pellentesque nulla ultrices tincidunt faucibus. Nunc in porta velit. Donec a aliquam orci, tempor dignissim nisi. Quisque cursus nec ipsum ac pulvinar. Maecenas consequat vel turpis sed eleifend. Nulla et convallis orci, vel gravida ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum aliquet ligula, sed commodo quam accumsan vitae.</p>
                <p>Integer auctor neque in sapien hendrerit sollicitudin id cursus nisi. Nunc quis odio at libero rhoncus volutpat sed nec est. Sed semper pulvinar pretium. Quisque accumsan molestie est, vel consequat sapien mollis nec. Sed rhoncus vitae felis et ultricies. Aliquam vitae mauris ut massa pharetra ultricies porttitor non dolor. Praesent sem nunc, eleifend nec mi vel, interdum varius mauris. Nulla eu nisl nec ante pulvinar porta a ut quam. Aenean eget felis velit. In ut nibh sem. Donec leo orci, posuere sit amet risus id, consequat porttitor enim. Ut ultricies nibh malesuada diam euismod, interdum pretium arcu elementum. Mauris venenatis turpis est, et facilisis dolor porta vel. Etiam aliquam aliquet augue id vehicula.</p>
                <p>Donec sollicitudin aliquet tellus non cursus. Proin vestibulum dapibus porta. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eros eros, vehicula eleifend rhoncus vitae, convallis eu arcu. Proin at ipsum ut tortor rhoncus congue et euismod dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut vehicula ipsum. Aliquam et neque leo. Maecenas vitae gravida purus. Morbi nibh justo, suscipit et eros eget, condimentum malesuada ipsum.</p>
                <p>Ut in nibh ut urna elementum dictum. Vivamus malesuada tristique diam eu pharetra. Aenean varius justo id libero tempus accumsan. Proin condimentum neque diam, ac pulvinar tortor sollicitudin sit amet. Integer nec fermentum tortor. Maecenas rhoncus lacinia risus non placerat. Pellentesque ligula augue, imperdiet vitae sagittis eget, ultrices sodales mauris. Praesent quis lorem faucibus, convallis diam vel, sollicitudin lectus. Etiam et ligula vel nulla malesuada mollis. Suspendisse blandit est ac neque feugiat facilisis. Sed auctor ante elit, vel luctus nunc feugiat et. Etiam blandit pharetra pharetra. Pellentesque nec neque a arcu vehicula tincidunt et sed lorem.</p>
                <p>Praesent accumsan ac orci eu vestibulum. Sed id elit eget velit sollicitudin lacinia. Vivamus sagittis tellus libero, ut aliquam ligula fringilla sit amet. Mauris condimentum elit felis, quis fermentum orci pretium ac. Suspendisse ornare sit amet urna eget lacinia. Proin quis odio eu neque varius lobortis. Aliquam ut augue lacinia, rhoncus urna nec, pretium sem. Fusce molestie pretium tellus, hendrerit ultrices lectus rutrum vitae. Nullam ac nulla semper, cursus tortor quis, vestibulum lacus. Quisque mollis felis in leo laoreet tempus. Fusce metus quam, varius non metus ut, ultrices euismod tortor. Integer pellentesque cursus tempor. Nullam fermentum ut nibh vel accumsan.</p>
                <p>Cras eu erat fermentum, placerat ante nec, auctor lectus. Duis arcu lectus, eleifend eget dui ut, tincidunt malesuada libero. Etiam ultrices in tortor luctus tempus. Aliquam tempus nec leo at aliquet. Sed et lacinia nunc. Sed est lectus, fermentum quis odio dignissim, lobortis convallis augue. Nunc porta ullamcorper enim eu pharetra. Integer nulla neque, porttitor eu mauris non, vestibulum aliquam quam. Nunc tincidunt eleifend mi in tristique. Mauris egestas vel lectus eget sollicitudin. Sed ligula nibh, euismod quis aliquet sed, volutpat vitae nisl. Mauris luctus risus sed pretium consequat. Aliquam nulla est, malesuada ac iaculis a, viverra eu mauris. Proin sed turpis ac nunc semper luctus. </p>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend>Personal Details:</legend>

                @if (!ViewContext.ViewData.ModelState.IsValid) { 
                    <div class="row">
                        <div class="span12">
                            @Html.ValidationSummary(true, "Rhut Rhow! Looks like we had a little problem with the form.")
                        </div>
                    </div>
                }

                    <div class="row">
                        <div class="span4">

                            <div class="control-group">
                                @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.FullName)
                                    @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(m => m.Email)
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(m => m.TelephoneNumber, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(m => m.TelephoneNumber)
                                    @Html.ValidationMessageFor(m => m.TelephoneNumber, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextAreaFor(m => m.Address, new { rows = 3, style = "resize: vertical;" })
                                    @Html.ValidationMessageFor(m => m.Address, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(m => m.Country, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(m => m.Country)
                                    @Html.ValidationMessageFor(m => m.Country, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label for="Username" class="control-label">Signature</label>
                                <div class="controls">
                                    <div class="signature uneditable-input"></div>
                                    <span class="help-block">Sign with your mouse or finger (on a touch device).</span>
                                    @Html.HiddenFor(m => m.Signature)
                                    @Html.ValidationMessageFor(m => m.Signature, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <button type="submit" class="btn btn btn-success">Submit</button>
                        </div>
                    </div>
            </fieldset>
        </div>
    </div>
</form>

@section scripts{
@Scripts.Render("~/jSignature")
<script>
    $(document).ready(function () {
        $('.validation-summary-errors').addClass('alert alert-error');
        $('.input-validation-error').parents('.control-group').addClass('error');

        $('.signature').jSignature();

        var sigString = $('#Signature').val();
        if (sigString !== '["image/jsignature;base30",""]' && sigString !== '') {
            var sig = JSON.parse(sigString);
            $('.signature').jSignature('setData', 'data:' + sig.join(','));
        }

        $('#cla').submit(function () {
            var sig = $('.signature').jSignature('getData', 'base30')
            $('#Signature').val(JSON.stringify(sig));
        });
	})
</script>
}